/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-details {
    padding-left: 40px;
}

.price {
    padding-top: 100px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
}

.card-img {
    width: 280px;
}

.card-img img{
    object-fit: cover;
    max-width: 280px;
}

.card-body {
}

.card > img {
    padding-left: 20px;
    padding-right: 30px;
}

.card-name {
    color: black;
    font-size: 14px;
}

.btn-cart {
    padding-top: 25px;
}

/* .category {
    margin-bottom: 40px;
} */

.button-list>a> button{
    margin-bottom: 10px;
}

